name: deploy delightable
on:
    push:
        branches:
            - main
        paths-ignore:
            - .github/**

permissions:
    contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        env:
            SECRET_APP_SIGNING_TOKEN: ${{ secrets.SECRET_APP_SIGNING_TOKEN }}
            AWS_ROLE_ARN: ${{secrets.AWS_DEPLOY_ROLE}}
            AWS_REGION: ap-southeast-2
        steps:
            - uses: actions/checkout@v5
              with:
                  persist-credentials: false

            - uses: actions/setup-node@v6
              with:
                  node-version-file: package.json
                  cache: npm
            - run: corepack enable

            - run: npm install

            - uses: aws-actions/configure-aws-credentials@v5
              with:
                  aws-region: ap-southeast-2
                  role-to-assume: arn:aws:iam::379805154655:role/GITHUB_ACTIONS_ROLE
                  role-session-name: GitHubActionsRoleSession

            - name: Verify role
              run: aws sts get-caller-identity

            - name: Deploy app
              run: npm run deploy:prod

            - name: Cleanup
              run: npm run deploy:cleanup -- --bucket sst-state-cfaonvdvftvr
