name: pull-request.yaml

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '.github/*'

jobs:
  node:
    runs-on: ubuntu-latest
    env:
      BRANCH: ${{ github.head_ref || github.ref_name }}
      REPO_URL: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: npm
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npx turbo ci
      - run: npx turbo infra:synth
